@font-face {
    font-family: BaiJamjuree-Medium;
    src: url(/fonts/BaiJamjuree-Medium.ttf);
  }
  @font-face {
    font-family: BaiJamjuree-Medium;
    src: url(/fonts/BaiJamjuree-Medium.ttf);
  }
  