body{
	margin: 0;
	font-family: "Hiragino Kaku Gothic Std W3";
	font-size: 16px;
	letter-spacing: -0.01em;
	line-height: 1.65em;
	min-width: 1025px;
}
p{
    margin: 0;
}
img{
	display: block;
	max-width: 100%;
}

#wrapper{
	max-width: 1400px;
    margin: auto;
        /* padding-top: 13px; */
}

.header_left{
    float: left;
}
.header_left h1{
    font-size: 12px;
    font-family: "Hiragino Kaku Gothic Std W3";
    margin: 0;
}
.header_right{
    float:right;
    display: flex;
    width: 490px;;
	justify-content: space-between;
    align-items: center;
}
.header{
    padding-top: 12px;
    padding-bottom: 12px;
}

.clear{
    clear: both;
}
.clearfix{
    overflow: auto;
}
.container{
	width: 1025px;
	margin: 0 auto;
}
.selection{
    background: url('/images/background-3.jpg') no-repeat;
    width: 100%;
    /* height: 705px; */
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #c5c9b2;
}
.selection_item{
    width: 193px;
    height: 498px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}
.proposal{
    background: url("/images/background.jpg") no-repeat;
    width: 100%;
    height: 542px;;
}
.ps_content ul{
    /* list-style-image: url("/images/images-5.svg"); */
    list-style: none;
    /* margin: 0;
    padding: 0; */
}
.ps_content ul li p{
    margin: 0;
    border-bottom: 1px solid #012350;
    display: inline-block;
    padding-left: 30px;
    padding-right: 15px;
}
.ps_content ul li{
    background: url("/images/images-5.svg") no-repeat left;
    /* list-style: none; */
    padding-left: 17px;
    position: relative;
    margin-bottom: 8px;
    line-height: 37px;
    color: #002251;
    font-size: 22px;
    font-family: "Hiragino Kaku Gothic Std W6";
    font-weight: bold;
    padding-bottom: 12px;
}
/* .ps_content ul li::before{
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 29px;
    height: 29px;
    background: url(/images/images-5.svg) left bottom no-repeat;
} */
.ps_content ul li span{
font-size: 28px;
    color: #F68400;
}

.title{
    text-align: center;
}
.title img{
    margin: 0 auto;
}
.selection .title{
    margin-bottom: 40px;
}
.container > .selection_wrap{
    /* text-align: center; */
}
.rs_title, .facility_title{
    text-align: center;
    font-size: 18px;
    color: #002251;
    font-weight: bold;
    font-family: "Hiragino Kaku Gothic Std W6";
    margin-top: 15px;
    margin-bottom: 15px;
}
.sl_content p{
    text-align: justify;
    padding-bottom: 10px;
    line-height: 1.4em;
}
.sl_content{
    padding: 0 10px;
}

/* .cover_img{
    height: 550px;
} */
.proposal .container{
    padding-top: 58px;

}
.ps_content{
    margin-left: 280px;
    margin-top: 36px;
}
.contact_banner{
    background-color: #002250;
    position: relative;
    padding-bottom: 37px;
}

.rc_content{
    display: inline-block;
}

.recommend{
    background: url('/images/background-5.jpg') no-repeat;
    padding-top: 50px;
    padding-bottom: 60px;
}
.recommend .title{
    margin-bottom: 45px;
}
.facility_wrap{
    background: url("/images/bg.jpg") no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}
.facility_item{
    width: 193px;
    /* height: 476px; */
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}
.facility_block1 .facility_item{
    margin-bottom: 20px;
}

.facility_item .container{
    margin: 50px auto;
}
.selection_content,.recommend_content,.facility_block1,.facility_block2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rc_content{
    height: 300px;
    width: 242px;
    background-color: white;
    margin-right: 10px;
}
.recommend .container{
    /* margin: 50px auto; */
}
.contact_banner .title{
    padding-top: 20px;
    padding-bottom: 48px;
    font-size: 34px;
    color: #006820;
    background: url('/images/reservation--title-bg.svg') no-repeat;
    font-weight: bold;
}

.contact_link{
    position: relative;
    z-index: 9;
    margin-top: -10px;
}
.slogan_logo,.contact_link{
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.rc_content .highlight{
    font-size: 32px;
    color: #F68400;
    font-family: "Hiragino Kaku Gothic Std W6";
}
.rc_text{
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.rc_content p{
    font-family: "Hiragino Kaku Gothic Std W6";
    font-size: 18px;
}
.facility_block1 .facility_item .facility_content p{
    text-align: justify;
    padding-bottom: 40px;
    line-height: 1.4em;
    font-size: 14px;
}
.facility_block2 .facility_item .facility_content p{
    text-align: justify;
    padding-bottom: 10px;
    line-height: 1.4em;
    font-size: 14px;
}
.facility_content{
    padding: 0 10px;
}
.facility_wrap .container .title{
    margin-bottom: 40px;
}
.facility_content .facility_title{
    margin: 0;
    height: 70px;
    line-height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evalue{
    background: url('/images/recommend-use-bg.jpg');
    padding-top: 50px;
    padding-bottom: 100px
}
.evalue .container .title{
    margin-bottom: 40px;
}
.eva_content{
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
}
.eva_left{
    width: 563px;
    padding: 30px;
    box-sizing: border-box;
    letter-spacing: -0.01cm;

}
.eva_inner{
    background-color: #233a70;
    color: #FFF;
    padding: 30px 20px;
    position: relative;
}
.eva_inner span{
    position: absolute;
    background-color: #fff001;
    color: #000;
    font-size: 14px;
    font-family: "Hiragino Kaku Gothic Std W6";
    top: -11px;
    line-height: 22px;
    padding: 0 15px;
    border-radius: 3px;
}
.eva_left > p{
    margin-top: 20px;
    margin-bottom: 40px;
}

.eva_right{
    width: 461px;
    position: relative;
}

.bg_girl{
    position: absolute;
    top: 23px;
    right: 60px;
}
.follow{
    height: 429px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fl_contents{
    display: flex;
    justify-content: space-between;
}

.fl_contents .fl img{
    position: absolute;
}
.fl_content{
    position: absolute;
}

.follow{
    background: url("/images/background-6.jpg") no-repeat;
}
.fl{
    position: relative;
    width: 228px;
}
.fl .icon{
    /* position: absolute; */
}
.compare{
    background-color: #ecf6ee;
    padding-top: 50px;
    padding-bottom: 90px;
}
.compare .container .title{
    margin-bottom: 40px;
}

.price{
    background: url(/images/background-2.jpg) no-repeat;
    padding-top: 60px;
    padding-bottom: 38px;
}
.price .title{
    margin-bottom: 40px;
}
.price_table{
    border: 1px solid #c9cace;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-left: 17px;
    margin-right: 17px;
    
}
.price .price_table table, .price .price_table table th, .price .price_table table td{
    border: 2px solid #eeeeee;
    text-align: center;
    font-size: 22px;
    font-family: "Hiragino Kaku Gothic Std W6";
    border-collapse: collapse;
    line-height: 80px;
}

#back-to-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
}
#back-to-top div{
    background-color: #213a70;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 3px;
}
/* .price_table table .price_table table th, .price_table table td{
    text-align: center;
    font-size: 22px;
    font-family: "Hiragino Kaku Gothic Std W6";
    border: 2px solid #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px
} */
.price_table table th{
    background-color: #016821;
    color: #FFF;
}
.price_table table td{
    color: #002350;
}
.price_note{
    background-color: #016821;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-family: "Hiragino Kaku Gothic Std W6";
    padding-top: 25px;
    padding-bottom: 25px;
}
.price_note span{   
    color: #FFF000;
    font-size: 36px;
}
.price_note p{
    line-height: 1.5em;    
}
.fl_step{
    background: url("/images/background-3.jpg") no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fl_step .container .title{
    margin-bottom: 40px;
}
.fl2_item{
    width: 228px;
    position: relative;
}
.fl2_item:not(:last-child)::after{
    background: url("/images/images-39.svg") center no-repeat;
    height: 30px;
    width: 30px;
    content: "";
    position: absolute;
    top: 103px;
    right: -30px;
}
.fl2_item .icon span{
    font-family: "BaiJamjuree-Medium";
    font-size: 32px;
    color: #006820;
}
.fl2_item .icon{
    text-align: center;
}
.fl2_item .icon img{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fl2_content{
    display: flex;
    justify-content: space-between
}
.faq{
    padding-top: 50px;
    padding-bottom: 40px;
}
.faq .container .title{
    margin-bottom: 50px;
}
.question{
    background-color: #ecf6ee;
    font-size: 26px;
    padding-left: 150px;
    line-height: 68px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.question::before{
    content: "";
    width: 150px;
    height: 150px;
    background-color: #002250;
    position: absolute;
    left: -35px;
    top: -40px;
    transform: rotate(25deg);
}
.question::after{
    content: "Q";
    font-family: "Hiragino Kaku Gothic Std W6";
    font-size: 42px;
    color: #FFF;
    position: absolute;
    line-height: 68px;
    left: 40px;
}
.answer{
    padding-left: 120px;
    margin-top: 25px;
    position: relative;
}
.answer::before{
    content: "A";
    font-family: "Hiragino Kaku Gothic Std W6";
    font-size: 42px;
    color: #002250;
    position: absolute;
    line-height: 50px;
    left: 40px;
}
.faq_list {
    padding-bottom: 50px;
}
.faq_list .faq_item{
    margin-top: 30px;
}
.faq_list h3{
    font-size: 26px;
    margin-bottom: 40px;
}
.footer{
    background-color: #ecf6ee;
    text-align: center;
    font-weight: bold;
    color: #002251;
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer .info_add{
    line-height: 2.3;
}
.footer .copyright{
    margin-top: 25px;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  